<html>
    <head>
        <title>Job portal</title>
        <!-- favicon starts -->
        <link
          rel="shortcut icon"
          type="image/x-icon"
          href="images/selection.png"
        />
        <!-- favicon ends -->
    </head>
    <body style="margin: 0;">
        <div style="height: 100vh;width:100vw;background-color:rgb(255, 247, 5);display: flex;justify-content: center;align-items: center;">
            <span style="font-size: 7vw;">Email EXISTS!</span>
        </div>
    </body>
</html>