<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job portal</title>
    <!-- favicon starts -->
    <link rel="shortcut icon" type="image/x-icon" href="images/selection.png" />
    <!-- favicon ends -->
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="column_center">
      <!-- nav bar code starts -->
      <div class="nav_bar row_center" style="justify-content: space-around">
        <div class="row_center">
          <span class="job_portal_heading">JobPortal</span>
          <a href="" class="img_icon"
            ><img
              src="images/selection.png"
              alt="job_portal_icon"
              class="img_icon"
          /></a>
        </div>
        <div
          class="row_center"
          style="justify-content: space-between; width: 46vw;align-items: center;"
        >
          <!-- sign in form starts -->
          <div style="display:flex;align-items: center;justify-content: center;height:8.5vh">
            <form action="/signin" method="post" style="display:flex;align-items: center;justify-content: center;height:8.5vh">
              <input
                type="text"
                placeholder="Email"
                name="email"
                class="input_box"
              />
              <input
                type="password"
                name="password"
                placeholder="Password"
                class="input_box"
              />
              <button type="submit" class="sign_in_btn">Sign in</button>
            </form>
          </div>
          <!-- sign in form ends -->
          <!-- forgot password Recruiter? starts -->
          <div>
            <a href=""
              ><span
                class="link_opt"
                style="margin-right: 0.5vw; margin-left: 0.55vw"
                >Forgot Password?</span
              ></a
            >
            <a href="#" id="signup_btn_rec"
              ><span class="link_opt">Recruiter?</span></a
            >
          </div>
          <!-- forgot password Recruiter? ends -->
        </div>
      </div>
      <!-- nav bar code ends -->
      <div class="main_body row_center" style="flex-wrap: wrap">
        <!-- <img
          src="https://img.freepik.com/premium-vector/busy-people-office-company-modern-workplace-interior-with-employees-sitting-tables-computers-scene-with-work-process-vector-concept-female-male-colleagues-working-open-space_102902-3893.jpg?w=2000"
          alt=""
          width="600vw"
          height="500vh"
        />
        <span class="moto">Unleash your potential with us</span> -->

        <!-- row 1 starts -->
        <div class="row_center">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSVvdf3mtAr8BQaBqwu2wAFbJD1dH6jtmyAK7hZRRnbFc0yc_pT"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT12cP23udqvCqHW_2oAvK257g3oVQkv23tOumxtpfFOhHi8a5B"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSkKGZuRUelGLq0FpwuFi9fp7fEPejRm5qgBKO2AQXBQ5VWl1Wf"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1rDH_nWadT1GXFPomdutqV1PUMA8uXIWS2Js5_fq4pJ1lwG16"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0U5a32I81EyodYLVvHBNs7GSlBgmag51JRMz_0RQ2DqthEDKr"
            alt=""
            width="215vw"
            height="250vh"
          />
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/B1FbllpUiVS.jpg"
            alt=""
            width="220vw"
            height="250vh"
          />
        </div>
        <!-- row 1 ends -->
        <!-- row 2 starts -->
        <div class="row_center">
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT12cP23udqvCqHW_2oAvK257g3oVQkv23tOumxtpfFOhHi8a5B"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSVvdf3mtAr8BQaBqwu2wAFbJD1dH6jtmyAK7hZRRnbFc0yc_pT"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="
              https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg/1200px-Elon_Musk_Royal_Society_%28crop2%29.jpg"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSkKGZuRUelGLq0FpwuFi9fp7fEPejRm5qgBKO2AQXBQ5VWl1Wf"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="
              https://images-na.ssl-images-amazon.com/images/I/B1FbllpUiVS.jpg"
            alt=""
            width="220vw"
            height="250vh"
          />

          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0U5a32I81EyodYLVvHBNs7GSlBgmag51JRMz_0RQ2DqthEDKr"
            alt=""
            width="215vw"
            height="250vh"
          />
          <img
            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS1rDH_nWadT1GXFPomdutqV1PUMA8uXIWS2Js5_fq4pJ1lwG16"
            alt=""
            width="220vw"
            height="250vh"
          />
        </div>
        <!-- row 2 ends -->
      </div>
      <footer class="footer row_center" style="justify-content: space-around">
        <div>
          <div class="column_center">
            <span class="footer_head">General</span>
            <div class="row_center">
              <a href="#" class="footer_anchor_style" id="signup_btn"
                >Sign Up</a
              >
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Help Center</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">About</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Press</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Blog</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Careess</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Developers</a>
              <span class="vertical_line_small"></span>
            </div>
          </div>
        </div>
        <div>
          <div class="column_center">
            <span class="footer_head">Recruiter Solutions</span>
            <div class="row_center">
              <a href="" class="footer_anchor_style">Talent</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Marketing</a>
              <span class="vertical_line_small"></span>
              <a href="" class="footer_anchor_style">Sales</a>
              <span class="vertical_line_small"></span>
              <a href="#" id="signn_btn_rec"class="footer_anchor_style"
                >Sign in</a
              >
              <span class="vertical_line_small"></span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="signup_body"></div>
    <div
      style="width: 100vw; height: 100vh; position: absolute; top: 0"
      id="form_sign_up"
    >
      <div class="form_page">
        <span style="font-size: 5vh">Be great at what you do</span>
        <span style="font-size: 3vh">Get started it's free.</span>
        <div id="form_back_style">
          <form
            action="/signup"
            method="POST"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin: 0 1vw;
              width: 27vw;
              height: 56vh;
            "
          >
            <div class="column_center_custom">
              <label for="fname">First Name</label>
              <input
                type="text"
                name="fname"
                id="f_name"
                class="input_for_form"
              />
            </div>
            <div class="column_center_custom">
              <label for="lname">Last Name</label>
              <input
                type="text"
                name="lname"
                id="l_name"
                class="input_for_form"
              />
            </div>
            <div class="column_center_custom">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                class="input_for_form"
              />
            </div>
            <div class="column_center_custom">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="input_for_form"
              />
            </div>
            <div
              style="
                font-size: 1vw;
                color: rgb(128, 128, 128);
                justify-content: center;
                align-items: center;
                width: 27vw;
                margin: 0 2vw;
              "
            >
              <div>
                By clicking join now, you agree to the job portal User
                Agreement,Privacy Policy, and Cookie Policy
              </div>
            </div>
            <button type="submit" id="join_now_btn">Join Now</button>
          </form>
        </div>
      </div>
    </div>

    <div
      style="width: 100vw; height: 100vh; position: absolute; top: 0"
      id="form_sign_up_rec"
    >
      <div class="form_page">
        <span style="font-size: 5vh">Be great at what you do</span>
        <span style="font-size: 3vh">Get started it's free.</span>
        <div id="form_back_style">
          <form
            action="/signup-recruiter"
            method="POST"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin: 0 1vw;
              width: 27vw;
              height: 56vh;
            "
          >
            <div class="column_center_custom">
              <label for="fname">Business Name</label>
              <input type="text" name="business" class="input_for_form" />
            </div>
            <div class="column_center_custom">
              <label for="lname">Business owner Name</label>
              <input type="text" name="business_owner" class="input_for_form" />
            </div>
            <div class="column_center_custom">
              <label for="email">Email</label>
              <input type="email" name="email" class="input_for_form" />
            </div>
            <div class="column_center_custom">
              <label for="password">Password</label>
              <input type="password" name="password" class="input_for_form" />
            </div>
            <div
              style="
                font-size: 1vw;
                color: rgb(128, 128, 128);
                justify-content: center;
                align-items: center;
                width: 27vw;
                margin: 0 2vw;
              "
            >
              <div>
                By clicking join now, you agree to the job portal User
                Agreement,Privacy Policy, and Cookie Policy
              </div>
            </div>
            <button type="submit" id="join_now_btn_rec">Join Now</button>
          </form>
        </div>
      </div>
    </div>





    <div
      style="width: 100vw; height: 100vh; position: absolute; top: 0"
      id="form_sign_in_rec"
    >
      <div class="form_page">
        <span style="font-size: 5vh">Be great at what you do</span>
        <span style="font-size: 3vh">Let's check for applications.</span>
        <div id="form_back_style">
          <form
            action="/signin-recruiter"
            method="POST"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin: 0 1vw;
              width: 27vw;
              height: 56vh;
            "
          >
            <div class="column_center_custom">
              <label for="fname">Business email</label>
              <input type="email" name="business" class="input_for_form" />
            </div>
            <div class="column_center_custom">
              <label for="password">Password</label>
              <input type="password" name="password" class="input_for_form" />
            </div>
            <div
              style="
                font-size: 1vw;
                color: rgb(128, 128, 128);
                justify-content: center;
                align-items: center;
                width: 27vw;
                margin: 0 2vw;
              "
            >
              <div>
                By clicking join now, you agree to the job portal Recruiter
                Agreement,Privacy Policy, and Cookie Policy
              </div>
            </div>
            <button type="submit" class="signin_btn_rec">Sign in</button>
          </form>
        </div>
      </div>
    </div>
    <script src="js/home.js"></script>
  </body>
</html>
